/* src/components/AddUser.css */
.add-user-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-user-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.add-user-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.add-user-container label {
  font-size: 16px;
  color: #333;
}

.add-user-container input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.add-user-container button {
  width: 150px;
  align-self: center;
  grid-column: span 2;
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-user-container button:hover {
  background-color: #218838;
}